* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(20,20,20);
  color: rgb(240, 240, 240);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(30,30,30);
}

.navbar a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 0.3s;
}
.navbar a:hover {
  text-decoration: underline;
  background-color: rgb(50,50,50);
}

.card {
  background-color: rgb(40,40,40);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 1200px;
  margin: 2rem auto;
}
.card h1, .card h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.about-list {
  list-style-type: none;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-list {
  list-style-type: none;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-list li {
  margin-bottom: 1rem;
}

.footer-info {
  list-style-type: none;
  margin-top: 1rem;
  text-align: center;
}
